/* form .field input:focus {
  border-bottom: 1px solid var(--background-color);
}

.rememberForget {
  margin-bottom: 2vh;
}

.flex-input {
  display: flex;
  width: 50% !important;
}

.dbl-field{
  margin: auto;
}  */