.productSliderCard {
    width: 23rem;
    height: 30rem;
    border: 1px solid lightgray;
    margin: 5px;
    border-radius: 1rem;
    overflow: hidden;
}

.productSliderCard:hover {
    box-shadow: rgba(149, 157, 164, 0.2) 0px 8px 24px;
}

.productSliderCard img {
    width: 100%;
    height: 45%;
    object-fit: cover;
}

.productSliderCard .info {
    padding: 5px;
}

@media screen and (max-width: 700px) {
    .productSliderCard {
        width: 100%;
        height: 30rem;
        border: 1px solid lightgray;
        margin: 5px;
        border-radius: 1rem;
        overflow: hidden;
    }
  }

