.doctor-menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.doctorCards {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  margin: auto;
}

.doctor-right {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}

.doctor-right span {
  font-size: 1.5rem;
  margin-right: 10px;
}

.doctor-top {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 90%;
  margin: auto;
}

.doctor-left{
  width: 80%;
}
.srchBtn {
  width: 50px;
}
.leftInput {
  height: 40px;
  font-size: 1.7rem;
}

input::placeholder {
  font-size: 1.7rem;
}
input[type="text"] {
  font-size:1.7rem;
}
