nav {
  background: white;
  padding: 20px 80px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: #fff;
  position: sticky;
  top: 0;
  border-bottom: 1px solid lightgray;
  /* overflow-x: hidden; */
  z-index: 9999;
}

.fas {
  cursor: pointer;
}

.menu-icon {
  display: none;
  font-size: 20px;
}
.menu-icon .fa-times {
  transform: rotate(360deg);
  transition: all 0.2s ease-in-out;
}

.menu-icon .fa-bars {
  transform: rotate(180deg);
  transition: all 0.2s ease-in-out;
}

.logo {
  font-weight: 600;
  font-size: 25px;
  color: var(--btn-color);
}

.logo font {
  color: #000000;
}

.menu-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .menu-list li:last-child a {
  font-weight: 500;
  padding: 5px 10px;
  background-color: #01aacd;
  transition: all 0.5s ease-in-out;
  margin-left: 20px;
  border-radius: 2px;
} */

.menu-list li a {
  text-decoration: none;
  color: #000000;
  /* font-weight: 300; */
  padding: 5px 10px;
  margin-left: 20px;
  font-size: 1.6rem;
}


.menu-list li a:hover,
.menu-list li a.active {
  color: var(--btn-color);
  transition: all 0.3s ease-in-out;
}

.loginBtnNav {
  margin: 0 1rem;
  display: flex;
  width: 12%;
  justify-content: space-between;
}

.loginBtnNav button{
  padding: 1rem 2.5rem;
}


@media screen and (max-width: 800px) {
  .logo {
    font-size: 20px;
  }
  .menu-list li a {
    font-size: 14px;
    margin-left: 10px;
  }
  .loginBtnNav{
    display: none;
  }
}
.userImg img{
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.userCart i {
  font-size: 3.5rem;
  color: #000000;
  cursor: pointer;
}

.userImg i {
  font-size: 2rem;
  color: #000000;
}

.userData {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  align-items: center;
}
.userImg {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}
.dropdownForUser{
  background-color: red;
}

@media screen and (max-width: 600px) {
  .menu-icon {
    display: block;
  }
  .menu-list {
    flex-direction: column;
    width: 100%;
    position: absolute;
    background: rgba(255, 255, 255, 0.945);
    padding: 20px;
    right: 0;
    top: 64px;
    transition: all 0.5s ease-in-out;
  }

  .menu-list li {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
  }
  .menu-list li:last-child {
    margin-bottom: 0px;
  }

  .menu-list li a,
  .menu-list li:last-child a {
    width: 100px;
    display: block;
    margin: auto;
  }

  .menu-list.close {
    right: -100%;
    transition: all 0.5s ease-in-out;
  }
}