.doctor-page{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 0.6rem;
  margin: 20px 30px 20px 0;
  width: 250px;
}

.doctor-page img{
  height: 20rem;
  object-fit: contain;
  width: 100%;
  margin-bottom: 1rem;
}

.doctor-page h5{
  font-size: 1.9rem;
  margin-bottom: 0.7rem;
}


.doctor-page p{
  font-size: 1.4rem;
  margin-bottom: 0.7rem;
}

.doctor-page button {
  font-size: 1.5rem;
  /* width: 60%; */
  /* margin: 1rem 1rem; */
  margin-top: 0.5rem;
}

.doctor-page button span{
  margin-right: 0.5rem;
}