/* Testimonial Card */
.testimonial-card {
    overflow: hidden;
    padding: 1.8rem 1.5rem;
    box-sizing: border-box;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
    position: relative;
}
.testimonial-card p {
    font-size: 1.3rem;
}


.testimonial-card img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    margin-bottom: 1rem;
}